{% extends '::base.html.twig' %}

{% block body %}
{#    request {{ request }} #}
<div id="Modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body" align="center">
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
   </div>
  </div>
</div>
<div class="container">
    <div class="col-sm-12">
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('homepage') }}">Каталог</a> 
                {% for bread_crumb in bread_crumbs %}
                    > <a href="{{ path('catalog_view', { 'id': bread_crumb.id }) }}">{{ bread_crumb.title }}</a> 
                {% endfor %}
                {# <span class="badge" title="количество товаров">{{ goods|length}}</span> #}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <form id="search_form" style="display:none;">
                    <div class="form-group">
                        <label for="search_autocomplete">Поиск</label>
                        <input type="text" id="search_autocomplete" class="form-control input-sm" placeholder="Поиск">
                        <input type="hidden" id="search" class="form-control input-sm" name="search" value="" placeholder="Поиск">
                        <input type="hidden" id="per_page" class="form-control input-sm" name="per_page" value="{{app.request.get('per_page')|default(10)}}">
                        <input type="hidden" id="order" class="form-control input-sm" name="order" value="{{app.request.get('order')|default('title')}}">
                        <input type="hidden" id="sc" class="form-control input-sm" name="sc" value="{{app.request.get('sc')|default('ASC')}}">
                        <input type="hidden" id="page" class="form-control input-sm" name="page" value="{{app.request.get('page')|default(1)}}">
                    </div>
                    <div class="form-group">
                        <label for="brand">Бренд</label>
                        <select multiple class="form-control" name="brand[]" id="brand">
                            {# <option value="" selected>выбрать</option> #}
                            {% for brand in brands %}
                                <option {% if app.request.get('brand') is defined and brand['brand'] in app.request.get('brand') %} selected {% endif %} value="{{ brand['brand'] }}">{{ brand['brand'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% for field in search_form_values["show"] %}
                        <div class="form-group form-group-extra">
                            <label for="{{ field["id"] }}">{{ field["title"] }}</label>
                            <input type="hidden" name="extra_field_type[{{ field["id"] }}]" value="{{ field["type"] }}">
                            <select multiple class="form-control extra-field-form" name="extra_field[{{ field["id"] }}][]" id="{{ field["id"] }}">
                                {# <option value="" selected>выбрать</option> #}
                            {% for value in field["values"] %}
                                <option {% if app.request.get('extra_field')[field["id"]] is defined and value in app.request.get('extra_field')[field["id"]] %} selected {% endif %} value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                    {% for field in search_form_values["hide"] %}
                        <div class="form-group form-group-extra" style="display:none;">
                            <label for="brand">{{ field["title"] }}</label>
                            <input type="hidden" name="extra_field_type[{{ field["id"] }}]" value="{{ field["type"] }}">
                            <select multiple class="form-control extra-field-form" name="extra_field[{{ field["id"] }}][]" id="{{ field["id"] }}">
                                {# <option value="" selected>выбрать</option> #}
                            {% for value in field["values"] %}
                                <option {% if app.request.get('extra_field')[field["id"]] is defined and value in app.request.get('extra_field')[field["id"]] %} selected {% endif %} value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="button-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {# <span class="glyphicon glyphicon-cog"></span>  #}
                                    <span>Настроить</span> 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="settings">
                                    {% for field in search_form_values["show"] %}
                                        <li>
                                            <a href="#" class="small" data-value="{{ field["id"] }}" tabIndex="-1">
                                                <input type="checkbox" checked />&nbsp;{{ field["title"] }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    {% for field in search_form_values["hide"] %}
                                        <li>
                                            <a href="#" class="small" data-value="{{ field["id"] }}" tabIndex="-1">
                                                <input type="checkbox" />&nbsp;{{ field["title"] }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <ul class="nav nav-pills" role="tablist">
                    <li> </li>
                    {% for child in childs %}
                        <li> 
                            <a href="{{ path('catalog_view', { 'id': child.id }) }}">{{ child.title }} <span class="badge" title="количество товаров">{{ child.goods_qty }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-10"> 
                <div class="row">
                    <div class="col-sm-6">
                        Сортировать по: 
                        <a class="nolink order {% if (app.request.get('order') == 'title') or (app.request.get('order') is empty) %} badge {% endif %}" data-value="title" href="#">Наименованию</a> 
                        <a class="nolink order {% if app.request.get('order') == 'rating' %} badge {% endif %}" data-value="rating" href="#">Популярности</a> <br>
                        Товаров на странице: 
                        <a class="nolink per_page {% if (app.request.get('per_page') == 10) or (app.request.get('per_page') is empty) %} badge {% endif %}" href="#" data-value="10">10</a> 
                        <a class="nolink per_page {% if app.request.get('per_page') == 20 %} badge {% endif %}" href="#" data-value="20">20</a> 
                        <a class="nolink per_page {% if app.request.get('per_page') == 50 %} badge {% endif %}" href="#" data-value="50">50</a> 
                        <a class="nolink per_page {% if app.request.get('per_page') == 100 %} badge {% endif %}" href="#" data-value="100">100</a>
                    </div>
                    <div class="col-sm-6">
                        <nav id="pagination">
                        </nav>
                    </div>
                </div>
                <hr>
                <div id="one_good" style="display:none;">
                </div>
                <div id="goods_list">
                    {% render controller('AdminBundle:Catalog:goods', {'request' : app.request, 'id': id }) %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.cookie.json = true;
    var extra_fields = $.cookie('extra_fields');
    if (!Array.isArray(extra_fields)){
        extra_fields = [
        {% for field in search_form_values["show"] %}
            {{ field["id"] }},
        {% endfor %}
        ];
        $.cookie('extra_fields', extra_fields);
    }else{
        $('#search_form .form-group-extra').each(function(el) {
            if (extra_fields.indexOf(parseInt($(this).find('select').attr('id'))) == -1) {
                $(this).hide();
            }else{
                $(this).show();
            }
        })
        $('#settings a').each(function(el) {
            if (extra_fields.indexOf(parseInt($(this).data('value'))) == -1) {
                $(this).find('input').prop('checked', false);
            }else{
                $(this).find('input').prop('checked', true);
            }
        })
    }
    $('#search_form').show();
    $( "#search_form" ).submit(function( event ) {
        event.preventDefault();
    });
    var options = [];
    $( '.dropdown-menu a' ).on( 'click', function( event ) {
        var $target = $( event.currentTarget ),
           val = $target.attr( 'data-value' ),
           $inp = $target.find( 'input' ),
           idx;
        var current_value = $target.data('value');
        var index_current_value = extra_fields.indexOf(current_value);
        if ( ( idx = options.indexOf( val ) ) > -1 || $inp.prop( 'checked' )) {
            options.splice( idx, 1 );
            setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
            $('#'+current_value).parent().hide();
            $('#'+current_value).val("");
            if (index_current_value !== -1) {
                extra_fields.splice(index_current_value, 1);
            };
        } else {
            options.push( val );
            setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
            $('#'+current_value).parent().show();
            if (index_current_value == -1) {
                extra_fields.push(current_value);
            };
        }
        $.cookie('extra_fields', extra_fields);
        $( event.target ).blur();
        return false;
    });

    $(".order").click(function() {
        $(".order").removeClass("badge");
        $(this).addClass("badge");
        $("#order").val($(this).data("value"));
        var sc = ($("#sc").val() == 'ASC') ? 'DESC' : 'ASC';
        $("#sc").val(sc);
        update_goods_list();
    })
    
    $(".per_page").click(function() {
        $(".per_page").removeClass("badge");
        $(this).addClass("badge");
        $("#per_page").val($(this).data("value"));  
        update_goods_list();     
    })


    $(".extra-field-form").change(function() {
        update_goods_list();
    })

    $("#brand").change(function() {
        update_goods_list();
    })

    $("#search_autocomplete").change(function() {
        if (!$("#search_autocomplete").val()){
            $("#search").val("");
            update_goods_list();
        }
    })
    
    $("#search_autocomplete").autocomplete({
        search: function () {},
        source: function (request, response){
            $.ajax({
                type: "GET",
                url: "{{ url('homepage') }}ajax/search/goods/" + request.term,
                dataType: "json",
                success: function (data){
                    var suggestions = [];
                    $.each(data, function(i, val){                             
                        suggestions.push({
                            label: val.title + " " + val.short_title, 
                            value: val.title + " " + val.short_title, 
                            id: val.id 
                        });
                    });
                    response(suggestions);
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $("#search").val(ui.item.id);
            update_goods_list();
        }
    });

    $('a.nolink').click( function(e) {
      e.preventDefault();
    });

    function update_goods_list() {
        $.ajax({
            type: "GET",
            data: $("#search_form").serialize(),
            url: "{{ url('homepage') }}{{ id }}/goods",
            success: function(data){  
                $("#goods_list").html(data); 
                $("#one_good").hide(); 
                $("#goods_list").show(); 
                window.history.pushState(null, null, "{{ url('homepage') }}{{id}}"+'?'+$("#search_form").serialize());
                update_pagination();
            }
        });
    }

    function update_pagination() {
        $("#pagination").html($("#new_pagination").html());
        $("#pagination .paginator a").on("click", function() {
            if (!$(this).parent().hasClass("disabled")) {
                $("#page").val($(this).parent().data("value"));
                update_goods_list();     
            };
        })
    }

    function get_good_by_id(id) {
        $.ajax({
            type: "GET",
            url: "{{ url('homepage') }}ajax/good/" + id,
            success: function(data){
                $("#one_good").html(data); 
                $("#goods_list").hide(); 
                $("#one_good").show(); 
                // window.history.pushState(null, null, {{id}} + '/good/' + id);
            }
        });
    }

    function back_to_catalog() {
        $("#one_good").hide(); 
        $("#goods_list").show(); 
        window.history.pushState(null, null, "{{ url('homepage') }}{{id}}"+'?'+$("#search_form").serialize());
    }
    update_pagination();
</script>
{% endblock %}
