{% extends 'AppBundle::layout_admin.html.twig' %}

{% block page_header -%}
    Товар {{ good.getTitle }}
{% endblock %}

{% block content %}
    
    <table class="record_properties table table-striped table-bordered table-hover dataTable no-footer">
        <tbody>
            <tr>
                <th>Краткое наименование</th>
                <td>{{ good.getShortTitle }}</td>
            </tr>
            <tr>
                <th>Наименование</th>
                <td>{{ good.getTitle }}</td>
            </tr>
            <tr>
                <th>Наименование для xml</th>
                <td>{{ good.getXmlTitle }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ good.getDescription }}</td>
            </tr>
            <tr>
                <th>Бренд</th>
                <td>{{ good.getBrand }}</td>
            </tr>
            <tr>
                <th>Артикул</th>
                <td>{{ good.getArticle }}</td>
            </tr>
            <tr>
                <th>Изображения</th>
                <td>
                    {% if good.getImages()|length > 0 %}
                    {% for image in  good.getImages() %}
                        <div class="col-xs-6 col-md-3 good-photo-wrapper">
                            <a href="#" class="thumbnail">
                                <img  class="good-image" src="{{ path('get_good_photo', {'good_id': good.getId(), 'photo_name': image.getName() }) }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>
                    {% if good.getCategory() is null %}
                        без категории
                    {% else %}
                        {{ good.getCategory().getTitle() }}
                    {% endif %}
                </td>
            </tr>
            {% if good.getExtraFields()|length %}
                {% for field in good.getExtraFields() %}
                   <tr>
                        <th>
                            {{ field.getExtraField().getTitle() }}
                        </th>
                        <td>
                            {{ field.getValueOwn() }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            
        </tbody>
    </table>

    <script>
        {% if good.getId() %}
        window.good_id = '{{ good.getId() }}';
        {% endif %}
    </script>
    
    <div class="actions-wr">
        <a href="{{ path('good') }}">
            Назад к списку
        </a>
    </div>
    <div class="actions-wr">
        <a href="{{ path('good_edit', { 'id': good.id }) }}">
            Изменить
        </a>
    </div>
{% endblock %}